<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container shadow">
      <nav class="navbar navbar-expand-lg navbar-light bg-white py-2">
        <a class="navbar-brand" href="/home">
          NGOZI OKONJO-IWEALA
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerListItem"
          aria-controls="navbarTogglerListItem"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerListItem">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active px-3">
              <a href="#" class="nav-link"></a>
            </li>
            <li class="nav-item active px-3">
              <a href="#" class="nav-link"></a>
            </li>
            <li class="nav-item active px-3">
              <a href="/home" class="nav-link">Previous</a>
            </li>
            <li class="nav-item active px-3">
              <a href="/work" class="nav-link">Next</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <section>
      <div class="container text-light bg-dark my-5 d-flex justify-content-center">
        <div>
          <p class="h3 font-weight-bold m-3 shadow" style="color: red;">
            ABOUT
          </p>
        </div>
        <div>
          <ul class="list-group list-group-flush font-weight-light">
            <li class="list-group-item bg-dark text-light">
              Ngozi Okonjo-Iweala was born in
              <a href="https://en.wikipedia.org/wiki/Ogwashi_Ukwu">Ogwashi-Ukwu</a>, Delta State,
              <a href="https://en.wikipedia.org/wiki/Nigeria"> Nigeria</a> where her father
              Professor Chukwuka Okonjo is the Eze (King) from the Obahai Royal Family of
              Ogwashi-Ukwu.
            </li>
            <li class="list-group-item bg-dark text-light">
              She was educated at Queen's School, Enugu, St. Anne's School, Molete, Ibadan, and the
              <a href="https://en.wikipedia.org/wiki/International_School_Ibadan">
                International School Ibadan</a
              >. She arrived in the US in 1973 as a teenager to study at
              <a href="https://en.wikipedia.org/wiki/Harvard_University">Harvard University</a>,
              graduating
              <a href="https://en.wikipedia.org/wiki/Latin_honors">magna cum laude</a> with an AB in
              Economics in 1976.
            </li>
            <li class="list-group-item bg-dark text-light">
              She earned her
              <a href="https://en.wikipedia.org/wiki/Doctor_of_Philosophy">Ph.D </a> in regional
              economics and development from the
              <a href="https://en.wikipedia.org/wiki/Massachusetts_Institute_of_Technology">
                Massachusetts Institute of Technology (MIT)
              </a>
              with a thesis titled
              <i>Credit policy, rural financial markets, and Nigeria's agricultural development.</i>
            </li>

            <li class="list-group-item bg-dark text-light">
              She received an International Fellowship from the
              <a href="https://en.wikipedia.org/wiki/American_Association_of_University_Women">
                American Association of University Women (AAUW), that supported her doctoral
                studies.</a
              >
            </li>
            <li class="list-group-item bg-dark text-light">
              She is married to Dr. Ikemba Iweala, a neurosurgeon. They have four children - one
              daughter, Onyinye Iweala (AB, MD, PhD, Harvard) and three sons,
              <a href="https://en.wikipedia.org/wiki/Uzodinma_Iweala">
                Uzodinma Iweala (AB, Harvard, MD, Columbia) </a
              >, Okechukwu Iweala (AB, Harvard) and Uchechi Iweala (AB, MD, MBA, Harvard).
              <a href="/gallery">
                <aside class="list-group-item-light bg-dark border-0">
                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-arrow-right"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"
                    />
                  </svg>
                </aside>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
