
  <div class="container shadow">
    <header>
      <div class="container">
        <div class="row pl-3 py-2 my-2 d-flex justify-content-center text-dark">
          <h1 class="my-auto display-5 py-5 font-weight-normal">
            Gallery
          </h1>
        </div>
      </div>
    </header>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center px-3">
          <div class="card-deck">
            <div class="card border-0">
              <img src="/images/smiling.jpg" class="card-img-top shadow" alt="Apps" />
              <div class="card-body">
                <p class="card-text" style="color: brown;">
                  Doctor Ngozi Okonjo-Iweala!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center px-3">
          <div class="card border-0">
            <img
              src="/images/selfie-with-husband.webp"
              class="card-img-top shadow"
              alt="selfie"
              height="300px"
            />
            <div class="card-body">
              <p class="card-text" style="color: brown;">
                With her husband!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center px-3">
          <div class="card border-0">
            <img
              src="/images/older-with-husband.jpg"
              class="card-img-top shadow"
              alt="image"
              height="280px"
            />
            <div class="card-body">
              <p class="card-text" style="color: brown;">With her husband at an event!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center px-3">
          <div class="card-deck">
            <div class="card border-0">
              <img src="/images/with-S.A-president.jpg" class="card-img-top shadow" alt="Apps" />
              <div class="card-body">
                <p class="card-text" style="color: brown;">
                  Ngozi with South African President, Cyril Ramaphosa!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center px-3">
          <div class="card border-0">
            <img src="/images/with-twitter-ceo.jpg" class="card-img-top shadow" alt="..." />
            <div class="card-body">
              <p class="card-text" style="color: brown;">
                Ngozi with Twitter CEO, Jack Dorsey!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center px-3">
          <div class="card border-0">
            <img
              src="/images/with-president.johnathan.jpg"
              class="card-img-top shadow"
              alt="image"
            />
            <div class="card-body">
              <p class="card-text" style="color: brown;">
                With former Nigerian President, Goodluck Jonathan!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

