
    <div class="container shadow">
    <header>
      <div class="container">
        <div class="row pl-3 py-2 my-2 d-flex justify-content-center text-dark">
          <h1 class="my-auto display-5 py-5 font-weight-normal">
            Doctor Ngozi Okonjo-Iweala
          </h1>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center px-3">
          <div class="card-deck">
            <div class="card border-0">
              <img
                src="/images/World-economic-forum.jpg"
                ;
                class="card-img-top shadow"
                alt="Ngozi"
              />
              <div class="card-body">
                <p class="card-text" style="color: brown;">
                  An Economist!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center px-3">
          <div class="card border-0">
            <img src="/images/world-leader.webp" class="card-img-top shadow" alt="leader" />
            <div class="card-body">
              <p class="card-text" style="color: brown;">
                A Global Leader!!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center px-3">
          <div class="card border-0">
            <img src="/images/policy-maker.webp" class="card-img-top shadow" alt="policy-maker" />
            <div class="card-body">
              <p class="card-text" style="color: brown;">
                A Policy Maker!!!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row my-1">
        <p
          class="lead py-1 font-weight-normal font-weight-light"
          style="font-size: 16px;"
          style="color: brown;"
        >
          Ngozi Okonjo-Iweala is a Nigerian-born economist and international development expert. She
          sits on the Boards of
          <a href="https://en.wikipedia.org/wiki/Standard_Chartered">Standard Chartered Bank </a>,
          <a href="https://en.wikipedia.org/wiki/Twitter">Twitter</a>,
          <a href="https://en.wikipedia.org/wiki/GAVI"
            >Global Alliance for Vaccines and Immunization (GAVI)</a
          >
          , and the <a href="https://www.africanriskcapacity.org/">African Risk Capacity (ARC)</a> .
          Previously, Okonjo-Iweala spent a 25-year career at the
          <a href="https://en.wikipedia.org/wiki/World_Bank">World Bank</a> as a development
          economist, scaling the ranks to the Number 2 position of Managing Director, Operations.
          Ngozi Okonjo-Iweala served as Nigeria’s Minister of Foreign Affairs, she also served two
          terms as the
          <a href="https://en.wikipedia.org/wiki/Finance_Minister_of_Nigeria"
            >Minister of Finance</a
          >
          under the leadership of
          <a href="https://en.wikipedia.org/wiki/Olusegun_Obasanjo">President Olusegun Obasanjo</a>
          and
          <a href="https://en.wikipedia.org/wiki/Goodluck_Jonathan">President Goodluck Jonathan</a>
          respectively - the first woman to hold either post. She has held several key positions at
          the World Bank, and in 2014, Time magazine named her one of the 100 most influential
          people in the world. She is also a Member of the International Advisory Board of the
          <a href="https://en.wikipedia.org/wiki/Japan_International_Cooperation_Agency"
            >Japan International Cooperation Agency (JICA).</a
          >
        </p>
      </div>
    </div>
  </body>

