<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <style>
      
h1 {
  color: brown;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.col-2 {
  text-align: center;
}

main .container {
  display: flex;
  flex-direction: column;
}

.navbar-brand {
  color: burlywood !important;
}

p {
  color: darkblue;
}

p > a {
  color: brown;
}
ul > li > a {
  color: brown !important;
}

    </style>
  </head>
  <body>
     {{> navbar}}

      {{{ body }}}
  </body>
</html>