<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>work</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container shadow">
      <nav class="navbar navbar-expand-lg navbar-light bg-white py-2">
        <a class="navbar-brand" href="/home">
          NGOZI OKONJO-IWEALA
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerListItem"
          aria-controls="navbarTogglerListItem"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerListItem">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active px-3">
              <a href="#" class="nav-link"></a>
            </li>
            <li class="nav-item active px-3">
              <a href="#" class="nav-link"></a>
            </li>
            <li class="nav-item active px-3">
              <a href="/about" class="nav-link">Previous</a>
            </li>
            <li class="nav-item active px-3">
              <a href="/gallery" class="nav-link">Next</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <header>
      <div class="container">
        <div class="row pl-3 py-2 my-2 d-flex justify-content-center text-dark">
          <h1 class="my-auto display-5 py-5 font-weight-normal">
            Work
          </h1>
        </div>
      </div>
    </header>

    <div class="container">
      <img
        src="/images/a-conversation-with-ngozi.jpg"
        class="img-fluid m-2 px-2"
        alt="Responsive image"
      />
    </div>

    Career at the World Bank Ngozi Okonjo-Iweala, at the 2004 Spring Meetings of the International
    Monetary Fund and the World Bank Group Okonjo-Iweala had a 25-year career at the World Bank in
    Washington DC as a development economist, rising to the No. 2 position of Managing Director.[9]
    As Managing Director, she had oversight responsibility for the World Bank’s $81 billion
    operational portfolio in Africa, South Asia, Europe and Central Asia. Okonjo-Iweala spearheaded
    several World Bank initiatives to assist low-income countries during the 2008 – 2009, food
    crises, and later during the financial crisis. In 2010, she was Chair of the IDA replenishment,
    the World Bank’s successful drive to raise $49.3 billion in grants and low interest credit for
    the poorest countries in the world.[10] During her time at the World Bank, she was also a member
    of the Commission on Effective Development Cooperation with Africa, which was set up by the
    Prime Minister Anders Fogh Rasmussen of Denmark, and held meetings between April and October
    2008.[11] Career in government Okonjo-Iweala served twice as Nigeria’s Finance Minister and also
    as Minister of Foreign Affairs.[12] She was the first female to hold both positions. During her
    first term as Minister of Finance under President Olusegun Obasanjo’s Administration, she
    spearheaded negotiations with the Paris Club that led to the wiping out of US$30 billion of
    Nigeria’s debt, including the outright cancellation of US$18 billion.[13] In 2003 she led
    efforts to improve Nigeria’s macroeconomic management including the implementation of an
    oil-price based fiscal rule where revenues accruing above a reference benchmark oil price were
    saved in a special account, “The Excess Crude Account” which helped to reduce macroeconomic
    volatility.[14] She also introduced the practice of publishing each state's monthly financial
    allocation from the Federal Government of Nigeria in the newspapers. This action went a long way
    in increasing transparency in governance.[15][16] With the support of the World Bank and the IMF
    to the Federal Government of Nigeria, she helped build an electronic financial management
    platform—the Government Integrated Financial Management and Information System (GIFMIS),
    including the Treasury Single Account (TSA) and the Integrated Payroll and Personnel Information
    System (IPPIS), helping to curtail corruption in the process. As at 31 December 2014, the IPPIS
    platform had eliminated 62,893 ghost workers from the system and saved the Nigerian government
    about $1.25 billion in the process.[17] Okonjo-Iweala was also instrumental in helping Nigeria
    obtain its first ever sovereign credit rating (of BB minus) from Fitch Ratings and Standard &
    Poor’s in 2006.[5] Following her first term as Minister of Finance, she returned to the World
    Bank as a Managing Director in December 2007.[9][18] In 2011, Okonjo-Iweala was re-appointed as
    Minister of Finance in Nigeria with the expanded portfolio of the Coordinating Minister for the
    Economy by President Goodluck Jonathan. Her legacy includes strengthening Nigeria’s public
    financial systems and stimulating the housing sector with the establishment of the Nigerian
    Mortgage Refinance Corporation (NMRC).[19] She also empowered Nigeria’s women and youth with the
    Growing Girls and Women in Nigeria Programme (GWIN); a gender responsive budgeting system,[20]
    and the highly acclaimed Youth Enterprise with Innovation programme (YouWIN); to support
    entrepreneurs, that created thousands of jobs.[21] This program has been evaluated by the World
    Bank as one of the most effective programmes of its kind globally. Under her leadership, the
    National Bureau of Statistics carried out a re-basing exercise of the Gross Domestic Product
    (GDP); the first in 24 years, which saw Nigeria emerge as the largest economy in Africa.[22] She
    took a lot of heat for the fuel subsidy removal policy by the Nigerian government, an action
    that led to protests in January 2012.[23] In May 2016, the new Nigerian administration
    eventually removed the fuel subsidy after it became apparent that it was unsustainable and
    inefficient.[24] Later career Okonjo-Iweala is co-Chair of the Global Commission for the Economy
    and Climate, with Nicholas Stern and Paul Polman.[25] Previously, she served as the co-Chair of
    the Global Partnership for Effective Development Cooperation.[26] In the past, Okonjo-Iweala was
    also a member of the International Commission on Financing Global Education Opportunity
    (2015-2016), chaired by Gordon Brown; the Commission on the New Climate Economy (also co-Chaired
    by Paul Polman and Lord Nicholas Stern); the World Economic Forum Young Global Leaders
    Foundation; the United Nations’ Secretary General’s High-Level Panel on the Post-2015
    Development Agenda (2012-2013); and the renowned Growth Commission (2006-2009), led by Nobel
    Prize winner Professor Michael Spence. Okonjo-Iweala is the founder of Nigeria’s first
    indigenous opinion-research organization, NOI-Polls.[27] She also founded the Center for the
    Study of Economies of Africa (C-SEA),[28] a development research think tank based in Abuja,
    Nigeria’s capital and is a Distinguished Visiting Fellow at the Center for Global Development
    and the Brookings Institution. In 2012, Okonjo-Iweala was a candidate for President of the World
    Bank, running against Dartmouth College President Jim Yong Kim; if elected, she would have been
    the organization's first female president.[29] Since 2019, Okonjo-Iweala has been part of
    UNESCO's International Commission on the Futures of Education, chaired by Sahle-Work Zewde.[30]
    In 2020, the International Monetary Fund's Managing Director Kristalina Georgieva appointed her
    to an external advisory group to provide input on policy challenges.[31] Also in 2020, she was
    appointed by the African Union (AU) as special envoy to solicit international support to help
    the continent deal with the economic impact of the COVID-19 pandemic.[32] In June 2020,
    President Muhammadu Buhari of Nigeria nominated Okonjo-Iweala as the country’s candidate to be
    director-general of the World Trade Organization (WTO)
  </body>
</html>
