
   <div class="container shadow">
    <header>
      <div class="container">
        <div class="row pl-3 py-2 my-2 d-flex justify-content-center text-dark">
          <h1 class="my-auto display-5 py-5 font-weight-normal">
            Work
          </h1>
        </div>
      </div>
    </header>

    <div class="container">
      <img
        src="/images/a-conversation-with-ngozi.jpg"
        class="img-fluid m-2 px-2"
        alt="Responsive image"
      />
    </div>
    <section>
      <div class="container">
        <div class="row mt-5 pt-5 px-2 pb-2">
          <div class="col-md-4 px-2">
            <p class="h3" style="color: brown;" style="max-width: 200px;">
              Career at the World Bank
            </p>
          </div>
          <div class="col-md-8 px-1 my-2 py-2">
            <p>
              Ngozi Okonjo-Iweala had a 25-year career at the
              <a href="https://en.wikipedia.org/wiki/World_Bank">World Bank</a> in
              <a href="https://en.wikipedia.org/wiki/Washington,_D.C."> Washington DC </a> as a
              development economist, rising to the No. 2 position of Managing Director. As Managing
              Director, she had oversight responsibility for the World Bank’s $81 billion
              operational portfolio in Africa, South Asia, Europe and Central Asia. Okonjo-Iweala
              spearheaded several World Bank initiatives to assist low-income countries during the
              2008 – 2009, food crises, and later during the financial crisis. In 2010, she was
              Chair of the IDA replenishment, the World Bank’s successful drive to raise $49.3
              billion in grants and low interest credit for the poorest countries in the world.
              During her time at the World Bank, she was also a member of the Commission on
              Effective Development Cooperation with Africa, which was set up by the
              <a href="https://en.wikipedia.org/wiki/Prime_Minister_of_Denmark">Prime Minister</a>
              <a href="https://en.wikipedia.org/wiki/Anders_Fogh_Rasmussen"
                >Anders Fogh Rasmussen</a
              >
              of <a href="https://en.wikipedia.org/wiki/Denmark">Denmark</a>, and held meetings
              between April and October 2008.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row my-2 py-2">
          <div class="col-md-4 py-2">
            <p class="h3" style="color: brown;" style="max-width: 200px;">
              Career in Government
            </p>
          </div>
          <div class="col-md-8 px-1 mt-2 pt-2">
            <p>
              Ngozi Okonjo-Iweala served twice as Nigeria’s Finance Minister and also as
              <a href="https://en.wikipedia.org/wiki/Minister_of_Foreign_Affairs_(Nigeria)"
                >Minister of Foreign Affairs</a
              >. During her first term as Minister of Finance under President Olusegun Obasanjo’s
              Administration, she spearheaded negotiations with the
              <a href="https://en.wikipedia.org/wiki/Paris_Club">Paris Club</a> that led to the
              wiping out of US$30 billion of Nigeria’s debt, including the outright cancellation of
              US$18 billion. In 2003 she led efforts to improve Nigeria’s macroeconomic management
              including the implementation of an oil-price based fiscal rule where revenues accruing
              above a reference benchmark oil price were saved in a special account, “The Excess
              Crude Account” which helped to reduce macroeconomic volatility.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row my2 py-2">
          <div class="col-md-4 px-2">
            <p class="h3" style="color: brown;" style="max-width: 200px;">
              Later Career
            </p>
          </div>
          <div class="col-md-8 px-1 mt-2 pt-2 mb-5 pb-5">
            <p>
              Ngozi Okonjo-Iweala is co-Chair of the Global Commission for the Economy and Climate,
              with
              <a href="https://en.wikipedia.org/wiki/Nicholas_Stern,_Baron_Stern_of_Brentford"
                >Nicholas Stern</a
              >
              and <a href="https://en.wikipedia.org/wiki/Paul_Polman"> Paul Polman</a>. Previously,
              she served as the co-Chair of the
              <a href="https://en.wikipedia.org/wiki/Aid_effectiveness"
                >Global Partnership for Effective Development Cooperation</a
              >. In the past, Okonjo-Iweala was also a member of the
              <a
                href="https://en.wikipedia.org/wiki/International_Commission_on_Financing_Global_Education_Opportunity"
                >International Commission on Financing Global Education Opportunity</a
              >
              (2015-2016), chaired by
              <a href="https://en.wikipedia.org/wiki/Gordon_Brown">Gordon Brown</a>; the Commission
              on the New Climate Economy (also co-Chaired by Paul Polman and Lord Nicholas Stern);
              the World Economic Forum Young Global Leaders Foundation;
              <a href="https://en.wikipedia.org/wiki/Post-2015_Development_Agenda"
                >the United Nations’ Secretary General’s High-Level Panel on the Post-2015
                Development Agenda</a
              >
              (2012-2013); and the renowned
              <a href="https://en.wikipedia.org/wiki/Growth_Commission">Growth Commission </a>
              (2006-2009), led by Nobel Prize winner
              <a href="https://en.wikipedia.org/wiki/Michael_Spence">Professor Michael Spence</a>.
              Dr. Ngozi Okonjo-Iweala is the founder of Nigeria’s first indigenous opinion-research
              organization, NOI-Polls. She also founded the
              <a href="https://en.wikipedia.org/wiki/Ngozi_Okonjo-Iweala"
                >Center for the Study of Economies of Africa (C-SEA)</a
              >, a development research think tank based in Abuja, Nigeria’s capital and is a
              Distinguished Visiting Fellow at the Center for Global Development and the Brookings
              Institution. In 2012, Okonjo-Iweala was a candidate for President of the World Bank,
              running against
              <a href="https://en.wikipedia.org/wiki/Dartmouth_College"> Dartmouth College</a>
              President <a href="https://en.wikipedia.org/wiki/Jim_Yong_Kim">Jim Yong Kim</a>; if
              elected, she would have been the organization's first female president. Since 2019,
              Okonjo-Iweala has been part of
              <a href="https://en.wikipedia.org/wiki/UNESCO">UNESCO's</a> International Commission
              on the Futures of Education, chaired by
              <a href="https://en.wikipedia.org/wiki/Sahle-Work_Zewde">Sahle-Work Zewde</a>. In
              2020, the
              <a href="https://en.wikipedia.org/wiki/International_Monetary_Fund"
                >International Monetary Fund's
              </a>
              Managing Director
              <a href="https://en.wikipedia.org/wiki/Kristalina_Georgieva">Kristalina Georgieva</a>
              appointed her to an external advisory group to provide input on policy challenges.
              Also in 2020, she was appointed by the
              <a href="https://en.wikipedia.org/wiki/African_Union">African Union</a> (AU) as
              special envoy to solicit international support to help the continent deal with the
              economic impact of the
              <a href="https://en.wikipedia.org/wiki/COVID-19_pandemic">COVID-19 pandemic</a> . In
              June 2020,
              <a href="https://en.wikipedia.org/wiki/Muhammadu_Buhari"
                >President Muhammadu Buhari
              </a>
              of Nigeria nominated Okonjo-Iweala as the country’s candidate to be director-general
              of the
              <a href="https://en.wikipedia.org/wiki/World_Trade_Organization"
                >World Trade Organization</a
              >
              (WTO).
            </p>
          </div>
        </div>
      </div>
    </section>
   </div>
