/* body {
  background-color: bisque;
  color: rebeccapurple;
}

img {
  height: 300px;
}*/

h1 {
  color: brown;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.col-2 {
  text-align: center;
}

main .container {
  display: flex;
  flex-direction: column;
}

.navbar-brand {
  color: burlywood !important;
}

p {
  color: darkblue;
}

p > a {
  color: brown;
}
ul > li > a {
  color: brown !important;
}
